
  .home-page .products-list {
    grid-template-columns: 1fr;
  
  }
  
  @media (min-width: 576px) {
    .home-page .products-list {
      grid-template-columns: 1fr 1fr;
    
    }
  }

@media (min-width: 768px) {
  
.home-page .products-list {
  grid-template-columns: 1fr 1fr 1fr;

}
}
@media (min-width: 1200px) {

.home-page .products-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
.home-page section:first-child {
  padding-top: 80px;
}
