/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-wrapper.active .panel {
  overflow: inherit;
}
.accordion.active {
  margin-bottom: 16px;
}
.accordion img {
  transition: transform 0.2s ease-out;
}
.accordion.active img {
  transform: rotate(180deg);
  transition: transform 0.2s ease-out;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
