.rc-tooltip-inner {
  border: unset;
  padding: 12px;
  border-radius: var(--border-radius-default);
}

.rc-tooltip {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rc-tooltip-hidden {
  opacity: 0 !important;
  display: flex !important;
}
.tooltip-title {
  margin-bottom: 8px;
  margin-top: 4px;
}

.rc-tooltip .tooltip-wrapper {
  display: flex;
  flex-direction: column;
}
