.booking-form-wrapper {
  border-radius: var(--booking-form-border-radius);
  border: 1px solid var(--booking-form-border-color);
  overflow: hidden;
  background-color: var(--booking-form-bg);
}
.booking-form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  background-color: var(--booking-form-header-bg);
  border-bottom: 1px solid var(--booking-form-border-color);
}
.booking-form-content {
  padding: 0 20px 24px 20px;
}
.booking-form-date-range-wrapper {
  margin-bottom: 32px;
  margin: 0px -20px 20px -20px;
}
